---
import "../styles/global.css";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
---

<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="generator" content="{Astro.generator}" />
        <title>About | Kids Hurt Too Hawai'i</title>
    </head>
    <body>
        <Navbar />

        <!-- ============================================ -->
        <!--                 Content Page                 -->
        <!-- ============================================ -->

        <!-- ============================================ 
    This Stitch is used for content heavy interior pages
    that have no design or layout.  Often times these are 
    content silos where you talk extensively about a topic
    to educate your visitors and rank on Google for the 
    content.  These are great for pages that have a TON
    of content.  Design isn't important here, it's all 
    about making the content accessible and easy to read.
================================================= -->

        <!-- ============================================ -->
        <!--                   Banner                     -->
        <!-- ============================================ -->

        <div id="banner-1535">
            <!--Background Image-->
            <picture class="cs-background">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/about-photo.png" />
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/about-photo.png" />
                <img
                    decoding="async"
                    src="/assets/about-photo.png"
                    alt="people laughing"
                    width="1280"
                    height="568"
                    aria-hidden="true"
                />
            </picture>
            <svg
                class="cs-mask"
                xmlns="http://www.w3.org/2000/svg"
                width="1920"
                height="136"
                viewBox="0 0 1920 136"
                fill="none"
            >
                <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M1920 136V0C1803.21 45.3334 1445.52 136 951 136C456.485 136 111.116 45.3334 0 0V136H951H1920Z"
                    fill="var(--maskBG)"></path>
            </svg>
        </div>

        <section id="content-page-1535">
            <div class="cs-container">
                <div class="cs-image-group">
                    <!--Flower-->
                    <img
                        class="cs-flower"
                        src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/flower-graphic.svg"
                        alt="flower"
                        loading="lazy"
                        decoding="async"
                        height="148"
                        width="153"
                    />
                    <picture class="cs-background">
                        <!--Mobile Image-->
                        <source
                            media="(max-width: 600px)"
                            srcset="
                https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/interior-kid.jpg
              "
                        />
                        <!--Tablet and above Image-->
                        <source
                            media="(min-width: 601px)"
                            srcset="
                https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/interior-kid.jpg
              "
                        />
                        <img
                            loading="lazy"
                            decoding="async"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/interior-kid.jpg"
                            alt="kid"
                            width="522"
                            height="540"
                        />
                    </picture>
                    <!--Floating Blob-->
                    <img
                        class="cs-floater"
                        src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/day-care-events-left.svg"
                        alt="graphic"
                        loading="lazy"
                        decoding="async"
                        height="710"
                        width="690"
                    />
                </div>
                <div class="cs-content">
                    <h1 class="cs-title">
                        At <span class="cs-color">Kids Hurt Too Hawai'i, </span> we believe that children
                        should not be alone in their grief and trauma. The best way to heal is within
                        a
                        <span class="cs-color">supportive community.</span>
                    </h1>
                    <h2>Heading 2</h2>
                    <h3>Heading 3</h3>
                    <h4>Heading 4-6</h4>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis
                        laboriosam eum quae in temporibus cumque tempora expedita mollitia nostrum
                        adipisci, ipsum commodi, cupiditate, sequi quos enim! Quaerat esse non sunt!
                        Lorem ipsum dolor sit amet
                        <a href="">link example</a>. Est, quis!
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis
                        laboriosam eum quae in temporibus cumque tempora expedita mollitia nostrum <strong
                            >adipisci, ipsum commodi</strong
                        >, cupiditate, sequi quos enim!
                    </p>
                    <h3>Heading 3</h3>
                    <ol>
                        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
                        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
                        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
                    </ol>
                    <h4>Heading 4-6</h4>
                    <ul>
                        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
                        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
                        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
                    </ul>
                </div>
            </div>
            <div class="cs-bubbles" aria-hidden="true"></div>
        </section>
        <Footer />
    </body>
</html>

<style>
    /*-- -------------------------- -->
<---          Banner            -->
<--- -------------------------- -*/

    /* Mobile - 360px */
    @media only screen and (min-width: 0rem) {
        #banner-1535 {
            padding: var(--sectionPadding);
            /* 190px - 268px */
            padding-top: clamp(11.875rem, 25vw, 16.75rem);
            /* 100px - 150px */
            padding-bottom: clamp(6.25rem, 12vw, 9.375rem);
            /* clips the line from causing overflow issues for going off screen */
            overflow: hidden;
            position: relative;
            z-index: 1;
        }
        #banner-1535 .cs-container {
            text-align: center;
            width: 100%;
            max-width: 80rem;
            margin: auto;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            /* 8px - 12px */
            gap: clamp(0.5rem, 1vw, 0.75rem);
        }
        #banner-1535 .cs-int-title {
            /* 39px - 61px */
            font-size: clamp(2.4375rem, 6.4vw, 3.8125rem);
            font-weight: 900;
            line-height: 1.2em;
            text-align: inherit;
            margin: 0;
            color: var(--headerColor);
            position: relative;
        }
        #banner-1535 .cs-breadcrumbs {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        #banner-1535 .cs-link {
            font-size: 1rem;
            line-height: 1.2em;
            text-decoration: none;
            color: var(--bodyTextColor);
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        #banner-1535 .cs-link:last-of-type {
            /* remove the chevron on the last list item */
        }
        #banner-1535 .cs-link:last-of-type::after {
            display: none;
        }
        #banner-1535 .cs-link:after {
            /* chevron */
            content: "";
            width: 0.4375rem;
            height: 0.75rem;
            margin: 0 1rem;
            background: url("https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/grey-chevron.svg");
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            position: relative;
            display: block;
        }
        #banner-1535 .cs-link.cs-active {
            color: var(--primary);
        }
        #banner-1535 .cs-background {
            width: 100%;
            height: 100%;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
        }
        #banner-1535 .cs-background:before {
            /* gradient overlay */
            content: "";
            width: 100%;
            height: 100%;
            background: #fff3ec;
            opacity: 0.8;
            position: absolute;
            display: block;
            top: 0;
            left: 0;
            z-index: 1;
        }
        #banner-1535 .cs-background img {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            /* Makes img tag act as a background image */
            object-fit: cover;
        }
        #banner-1535 .cs-mask {
            --maskBG: #ffffff;
            width: 100%;
            height: auto;
            display: block;
            position: absolute;
            bottom: -1px;
            left: 0;
            z-index: 100;
        }
    }
    /* Tablet - 768px */
    @media only screen and (min-width: 48rem) {
        #banner-1535 .cs-background:before {
            width: 100%;
            height: 100%;
            background: linear-gradient(
                90deg,
                rgba(255, 243, 236, 0.9) 23.05%,
                rgba(255, 243, 236, 0) 80.08%
            );
            opacity: 1;
        }
    }

    /*-- -------------------------- -->
<---        Content Page        -->
<--- -------------------------- -*/

    /* Mobile - 360px */
    @media only screen and (min-width: 0rem) {
        @keyframes floatAnimation {
            0% {
                transform: translateY(0);
            }
            50% {
                transform: translateY(-2rem);
            }
            100% {
                transform: translateY(0);
            }
        }
        @keyframes floatAnimation2 {
            0% {
                transform: translateY(0);
            }
            50% {
                transform: translateY(-3rem);
            }
            100% {
                transform: translateY(0);
            }
        }
        #content-page-1535 {
            padding: var(--sectionPadding);
            background-color: #fff;
            /* clips the wave background from causing overflow issues when it goes off screen */
            overflow: hidden;
            position: relative;
            z-index: 1;
        }
        #content-page-1535 .cs-container {
            width: 100%;
            max-width: 80rem;
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 40px - 64px */
            gap: clamp(2.5rem, 4vw, 4rem);
            position: relative;
        }
        #content-page-1535 .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            max-width: 46.125rem;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
        }
        #content-page-1535 .cs-title {
            font-size: var(--headerFontSize);
            font-weight: 900;
            line-height: 1.2em;
            text-align: inherit;
            width: 100%;
            max-width: 100%;
            margin: 0 0 1rem 0;
            color: var(--headerColor);
            position: relative;
        }
        #content-page-1535 h2,
        #content-page-1535 h3,
        #content-page-1535 h4,
        #content-page-1535 h5,
        #content-page-1535 h6 {
            font-weight: 700;
            text-align: inherit;
            margin: 0 0 1rem 0;
            color: var(--headerColor);
        }
        #content-page-1535 h2 {
            font-size: 2rem;
            margin-top: 2rem;
        }
        #content-page-1535 h3 {
            font-size: 1.5rem;
            color: var(--primary);
        }
        #content-page-1535 h4,
        #content-page-1535 h5,
        #content-page-1535 h6 {
            font-size: 1.25rem;
        }
        #content-page-1535 .cs-button-solid {
            margin-bottom: 2rem;
        }
        #content-page-1535 .cs-no-margin {
            margin: 0;
        }
        #content-page-1535 .cs-color {
            color: var(--primary);
        }
        #content-page-1535 p {
            font-size: var(--bodyFontSize);
            line-height: 1.5em;
            text-align: inherit;
            width: 100%;
            margin: 0 0 1rem 0;
            color: var(--bodyTextColor);
        }
        #content-page-1535 p:last-of-type {
            margin-bottom: 2rem;
        }
        #content-page-1535 p a {
            font-size: inherit;
            line-height: inherit;
            text-decoration: underline;
            color: var(--primary);
            filter: brightness(120%);
        }
        #content-page-1535 ol,
        #content-page-1535 ul {
            padding-left: 1.5rem;
            margin: 0 0 2rem 0;
            color: var(--bodyTextColor);
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }
        #content-page-1535 ul li {
            list-style: none;
            color: inherit;
            position: relative;
        }
        #content-page-1535 ul li:before {
            /* custom list bullet */
            content: "";
            width: 3px;
            height: 3px;
            background: currentColor;
            opacity: 1;
            border-radius: 50%;
            position: absolute;
            display: block;
            top: 0.625rem;
            left: -0.75rem;
        }
        #content-page-1535 img {
            width: 100%;
            height: auto;
            display: block;
        }
        #content-page-1535 .cs-image-group {
            width: 32.625em;
            height: 33.75em;
            display: none;
            position: relative;
            z-index: 1;
        }
        #content-page-1535 .cs-background {
            width: 100%;
            height: 100%;
            border-radius: 2.5em;
            /* clips the corners of the children around the border radius */
            overflow: hidden;
            /* makes it cover the parent dimensions */
            object-fit: cover;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
        }
        #content-page-1535 .cs-background img {
            width: 100%;
            height: 100%;
            /* makes it cover the parent like a backgorund image */
            object-fit: cover;
            display: block;
        }
        #content-page-1535 .cs-flower {
            width: 9.5625em;
            height: auto;
            position: absolute;
            right: -2em;
            top: -2.25em;
            z-index: 10;
        }
        #content-page-1535 .cs-floater {
            width: 44.375em;
            height: auto;
            position: absolute;
            left: 9.375em;
            top: 25em;
            z-index: -1;
            animation-name: floatAnimation2;
            animation-duration: 14s;
            animation-timing-function: ease-in-out;
            animation-fill-mode: forwards;
            animation-iteration-count: infinite;
        }
    }
    /* Tablet - 768px */
    @media only screen and (min-width: 48rem) {
        #content-page-1535 .cs-container {
            flex-direction: row;
            align-items: flex-start;
            justify-content: space-between;
        }
        #content-page-1535 .cs-content {
            width: 60%;
            max-width: 43.375rem;
            /* prevents flexbox from squishing it */
            flex: none;
        }
        #content-page-1535 .cs-image-group {
            font-size: min(1.3vw, 1em);
            display: block;
            /* sends it to the right in the 2nd position */
            order: 2;
        }
    }
    /* Desktop - 1200px */
    @media only screen and (min-width: 75rem) {
        #content-page-1535 .cs-content {
            width: 53%;
        }
    }
</style>
