---
import '../styles/global.css';
import Navbar from './Navbar.astro';
---

<!-- ============================================ --><!--                    Hero                      --><!-- ============================================ -->
<section id="hero-1469">
  <div class="cs-container">
    <div class="cs-content">
      <span class="cs-topper">Grief and Trauma Support</span>
      <h1 class="cs-title">Kids Hurt Too</h1>
      <p class="cs-text">
        Kids Hurt Too Hawai'i has provided group support and training services to thousands of
        children, youth, caregivers, and providers.
      </p>
      <a href="" class="cs-button-solid">Get Started</a>
    </div>
  </div>
  <!-- Background Image, background image added in the css at 1600px for parallax effect -->
  <picture class="cs-background">
    <source
      media="(max-width: 600px)"
      srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/daycare-m.jpg"
    />
    <source
      media="(min-width: 601px)"
      srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/daycare.jpg"
    />
    <img
      decoding="async"
      src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/daycare.jpg"
      alt="abstract background"
      width="2250"
      height="1500"
      aria-hidden="true"
    />
  </picture>
  <!--Flower-->
  <img
    class="cs-flower cs-hide"
    decoding="async"
    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/flower.svg"
    alt="abstract flower"
    width="139"
    height="144"
    aria-hidden="true"
  />
  <!--Yellow Blob-->
  <img
    class="cs-blob1 cs-hide"
    decoding="async"
    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/yellow-shape.svg"
    alt="abstract shape"
    width="378"
    height="268"
    aria-hidden="true"
  />
  <!--Red Blob-->
  <img
    class="cs-blob2 cs-hide"
    decoding="async"
    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/orange-blob.svg"
    alt="abstract shap"
    width="318"
    height="221"
    aria-hidden="true"
  />
  <!--Leaf-->
  <img
    class="cs-leaf cs-hide"
    decoding="async"
    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/abstract-leaf.svg"
    alt="abstract leaf"
    width="318"
    height="221"
    aria-hidden="true"
  />
  <!--SVG Curve-->
  <svg
    class="cs-curve"
    width="1920"
    height="136"
    viewBox="0 0 1920 136"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M1920 136V0C1803.21 45.3334 1445.52 136 951 136C456.485 136 111.116 45.3334 0 0V136H951H1920Z"
      fill="#fff"></path>
  </svg>
</section>

<style>
  /*-- -------------------------- -->
<---           Hero             -->
<--- -------------------------- -*/

  /* Mobile - 360px */
  @media only screen and (min-width: 0rem) {
    #hero-1469 {
      /* 200px - 288px - leaving extra space for the navigation */
      padding: clamp(12.5rem, 29.95vw, 18rem) 1rem 0;
      /* 100px - 288px */
      padding-bottom: clamp(6.25rem, 20vw, 18rem);
      box-sizing: border-box;
      overflow: hidden;
      position: relative;
      z-index: 1;
    }
    #hero-1469:before {
      content: '';
      width: 100%;
      height: 100%;
      background: #fff3ec;
      opacity: 0.9;
      position: absolute;
      display: block;
      top: 0;
      left: 0;
    }
    #hero-1469 .cs-container {
      width: 100%;
      max-width: 80rem;
      margin: auto;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      /* 48px - 64px */
      gap: clamp(3rem, 6vw, 4rem);
      position: relative;
    }
    #hero-1469 .cs-content {
      /* set text align to left if content needs to be left aligned */
      text-align: center;
      width: 100%;
      max-width: 38.5rem;
      display: flex;
      flex-direction: column;
      /* centers content horizontally, set to flex-start to left align */
      align-items: center;
    }
    #hero-1469 .cs-topper {
      /* 13px - 16px */
      font-size: clamp(0.8125rem, 1.6vw, 1rem);
      line-height: 1.2em;
      text-transform: uppercase;
      text-align: inherit;
      letter-spacing: 0.1em;
      font-weight: 700;
      color: var(--secondary);
      margin-bottom: 0.5rem;
      display: block;
    }
    #hero-1469 .cs-title {
      /* 39px - 61px */
      font-size: clamp(2.4375rem, 6.4vw, 3.8125rem);
      font-weight: 700;
      line-height: 1.2em;
      text-align: inherit;
      max-width: 20ch;
      margin: 0 0 1rem 0;
      color: var(--headerColor);
      position: relative;
    }
    #hero-1469 .cs-text {
      /* 16px - 24px */
      font-size: clamp(1rem, 2.3vw, 1.25rem);
      line-height: 1.5em;
      text-align: inherit;
      width: 100%;
      /* 32px - 40px */
      margin: 0 0 clamp(2rem, 4vw, 2.5rem) 0;
      color: var(--bodyTextColor);
    }
    #hero-1469 .cs-button-solid {
      font-size: 1rem;
      /* 46px - 56px */
      line-height: clamp(2.875rem, 5.5vw, 3.5rem);
      text-decoration: none;
      font-weight: 700;
      overflow: hidden;
      margin: 0;
      color: #fff;
      padding: 0 3rem;
      border-radius: 1.875rem;
      background-color: var(--primary);
      display: inline-block;
      position: relative;
      z-index: 1;
      transition: color 0.3s;
    }
    #hero-1469 .cs-button-solid:before {
      content: '';
      position: absolute;
      display: block;
      height: 100%;
      width: 0%;
      background: #fff;
      opacity: 1;
      top: 0;
      left: 0;
      z-index: -1;
      transition: width 0.3s;
    }
    #hero-1469 .cs-button-solid:hover {
      color: var(--primary);
    }
    #hero-1469 .cs-button-solid:hover:before {
      width: 100%;
    }
    #hero-1469 .cs-background {
      width: 100%;
      height: 100%;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -2;
    }
    #hero-1469 .cs-background img {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      object-fit: cover;
      /* makes the top of the image start at the top of the parent */
      object-position: top;
    }
    #hero-1469 .cs-hide {
      display: none;
    }
    #hero-1469 .cs-curve {
      width: 100%;
      height: auto;
      position: absolute;
      left: 0;
      bottom: 0;
    }
  }
  /* Tablet - 768px */
  @media only screen and (min-width: 48rem) {
    #hero-1469:before {
      background: linear-gradient(
        89deg,
        rgba(255, 243, 236, 0.9) 44.46%,
        rgba(255, 243, 236, 0) 78.47%
      );
      opacity: 1;
    }
    #hero-1469 .cs-container {
      flex-direction: row;
      justify-content: space-between;
    }
    #hero-1469 .cs-content {
      width: 67%;
      text-align: left;
      align-items: flex-start;
    }
    #hero-1469 .cs-hide {
      display: block;
      position: absolute;
      z-index: 10;
    }
    #hero-1469 .cs-flower {
      display: none;
    }
    #hero-1469 .cs-blob1 {
      /* 166px - 378px */
      width: clamp(10.375rem, 18vw, 23.625rem);
      height: auto;
      left: -0.625rem;
      bottom: 2rem;
      transform: rotate(-8deg);
    }
    #hero-1469 .cs-blob2 {
      /* 170px - 318px */
      width: clamp(10.625rem, 23vw, 19.875rem);
      height: auto;
      right: -3.5rem;
      bottom: -0.625rem;
      transform: rotate(-8deg);
    }
    #hero-1469 .cs-leaf {
      /* 115px - 143px */
      width: clamp(7.1875rem, 14vw, 8.9375rem);
      height: auto;
      right: -3.5rem;
      /* 200px - 340px */
      top: clamp(12.5rem, 13vw, 21.25rem);
      transform: rotate(-63deg);
    }
  }
  /* Desktop - 1024px */
  @media only screen and (min-width: 64rem) {
    #hero-1469 .cs-flower {
      display: block;
      left: -3.5rem;
      /* 150px - 280px */
      top: clamp(9.375rem, 10vw, 17.5rem);
    }
  }
  /* Large Desktop Parallax Effect - 1600px */
  @media only screen and (min-width: 100rem) {
    #hero-1469 .cs-background {
      background: url('https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/daycare.jpg');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      background-attachment: fixed;
    }
    #hero-1469 .cs-background img {
      display: none;
    }
    #hero-1469 .cs-flower {
      left: auto;
      right: 50%;
      margin-right: 43.8125rem;
    }
    #hero-1469 .cs-blob1 {
      left: auto;
      right: 50%;
      margin-right: 38.875rem;
    }
    #hero-1469 .cs-blob2 {
      right: auto;
      left: 50%;
      margin-left: 42.875rem;
    }
    #hero-1469 .cs-leaf {
      right: auto;
      left: 50%;
      margin-left: 46.6875rem;
    }
  }
  /* Larger Desktop - 1800px */
  @media only screen and (min-width: 112.5rem) {
    #hero-1469 .cs-bubbles2 {
      margin-right: 50rem;
      right: 50%;
      left: auto;
      top: 13.125rem;
      bottom: auto;
    }
  }
</style>
